@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-6">ARASOFT 개발연구소</h1>
    
    <br />
    <br />
   
    데이터란 사건 또는 사물에 대한 기록이다. <br />

</div>
